:root {
	--bg: #0b072a;
	--fg: #fff;
	--bgGradient: linear-gradient(0.85turn, #6a11cb 0%, #2575fc 100%);
}

* {
	margin: 0;
	padding: 0;
}

ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	padding-inline-start: 40px;
}

html, body {
	overflow-x: hidden;
	font-family: 'Tahoma', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

html {
	background: var(--bg);
	background-image: var(--bgGradient);
	color: var(--fg);
}

body {
	width: clamp(300px, 100vw, 1500px);
	margin: 0 auto;
}

.topGrid * {
	display: block;
	text-align: initial;
}

article {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 3em;
	border: 1px solid;
	border-radius: 1em;
}

article>div {
	align-items: center;
}

.infoBlock {
	width: clamp(20ch, calc(100% - 2.2em), 75ch);
	height: min-content;
	padding: 1em;
}

div.flex:nth-child(1) {
	border-right: 2px dotted #aaa;
}

.infoBlock:not(:first-child) {
	border-top: 2px dotted #aaa;
}

#profilePic {
	width: 13em;
	border-radius: 0.4em;
	transition: 0.5s ease-out;
	-webkit-transition: 0.5s ease-out;
}

#profilePic:hover {
	transform: translate(-0.25em, -0.25em);
	box-shadow: 1em 1em 1em 0.5em #0007;
	transition: 0.5s ease-out;
	-webkit-transition: 0.5s ease-out;
}

::marker {
	content: "";
}

.dataTime {
	display: flex;
}

.dataTime:not(:last-child) {
	border-bottom: 1px #9995 solid;
	padding-bottom: 1em;
}

.dataTime:not(:first-child) {
	padding-top: 1em;
}

.time {
	width: 6em;
	overflow-wrap: break-word;
}

.data {
	width: 100%;
}

.dataTime div {
	margin: 0 1em;
}

h3 {
	margin-top: 0;
}

a {
	color: var(--fg);
}

.topGrid h1 {
	grid-area: a;
}

.topGrid h2 {
	grid-area: b;
}

.topGrid img {
	grid-area: c;
}

#informations {
	grid-area: d;
}

#informations>ul * {
	display: flex;
}

#APropos {
	margin-top: 1em;
}

.important {
	font-weight: bold;
}

.hoverable {
	cursor: zoom-in !important;
	animation: flash 1s ease-in-out infinite;
	animation-direction: alternate;
}

@keyframes flash {
	from {
		color: #fff;
	}
	to {
		color: rgb(200, 200, 255);
	}
}

[data-tooltip] {
	position: relative;
}

[data-tooltip]:hover::before {
	content: attr(data-tooltip);
	position: absolute;
	background-image: linear-gradient(0.85turn, #6a11cb 0%, #2575fc 100%);
	color: #fff;
	padding: 0.7em;
	top: -0.5rem;
	left: 50%;
	transform: translate(-50%, -100%);
	border-radius: 2ch;
	border: 1px solid #fff;
	text-align: center;
	animation: appear 0.5s forwards;
}

ul {
	margin-bottom: 2em;
}

li {
	margin-top: 0.3em;
}

article li {
	margin-top: 0.8em;
}

.important:hover {
	animation: waouh .75s forwards;
}

@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes waouh {
	from {
		color: #fff;
	}
	to {
		color: yellowgreen;
	}
}

.topGrid {
	display: grid;
	grid-template: 1fr auto auto / calc(100% - 13em) 1fr;
	grid-template-areas: "a c" "b c" "d c";
}

header {
	margin: 2em;
}

.flex {
	display: flex;
}

.flex-vertical {
	flex-direction: column;
}

.flex-horizontal {
	flex-direction: row;
}

a:hover {
	transition: 0.2s ease-in-out;
	color: yellowgreen;
}

svg {
	fill: white;
	width: 3em;
}

.linkedIn::before {
	content: ' ';
	display: block;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>');
	width: 1.4em;
	height: 1.4em;
	background-size: cover;
	margin-right: 1em;
}

#informations svg {
	width: auto;
}

.mail::before {
	content: "📫 ";
	margin-right: 1em;
}

.address::before {
	content: "🏠 ";
	margin-right: 1em;
}

.phone::before {
	content: "📞 ";
	margin-right: 1em;
}

.first::before {
	content: "🥇 ";
	margin-right: 1em;
}

.second::before {
	content: "🥈 ";
	margin-right: 1em;
}

.europe::before {
	content: "🇪🇺 ";
	margin-right: 1em;
}

.world::before {
	content: "🌍 ";
	margin-right: 1em;
}

.car::before {
	content: "🚗 ";
	margin-right: 1em;
}

.date::before {
	content: "📆 ";
	margin-right: 1em;
}

.normalyHidden {
	display: none;
}

.countryButton:hover {
	background: #ff634742;
	transition: 0.5s;
}

.countryButton {
	background: transparent;
	border: 1px solid #ccc;
	font-size: 2rem;
	padding: 0em 0.5em;
	border-radius: 1em;
}

#International {
	position: absolute;
	top: 0;
	text-align: center;
	width: 100%;
}

@media (max-width: 600px) {
	article {
		grid-template-columns: 1fr;
		margin: 2em;
	}
	div.flex:nth-child(1) {
		border: none;
	}
	article>div:nth-child(1)>div:nth-child(1) {
		border: none !important;
	}
	.infoBlock {
		border-top: 2px dotted #aaa;
	}
	.topGrid {
		grid-template-areas: "a" "c" "b" "d";
		grid-template-rows: 1fr;
		grid-template-columns: none;
	}
	.topGrid * {
		text-align: center;
		margin: 0 auto;
		display: block;
		width: 85vw;
	}
	ul {
		padding: 0;
	}
}

@media print {
	html {
		background: #fff;
		color: #000;
	}
	article, header {
		margin: 1em;
	}
	a {
		color: #000;
		text-decoration: none;
	}
	.hoverable {
		animation: none;
	}
	svg {
		fill: #000;
	}
	[data-print-text] {
		position: relative;
	}
	[data-print-text]::before {
		content: "@" attr(data-print-text) " :";
		display: block;
		width: 100%;
		color: #000;
	}
	.normalyHidden {
		display: block;
		margin: 3em;
	}
	#profilePic {
		box-shadow: 0em 0em 0.3em 0.1em #0007;
	}
	li {
		display: block;
	}
	.breakHere {
		column-count: 1;
		break-inside: avoid;
		page-break-inside: avoid;
		-webkit-column-break-inside: avoid;
	}
	#International {
		display: none;
	}
}